<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl0bI83Tinrn0Bbsu5UQoANc80zjNqK8c</string>
	<key>GCM_SENDER_ID</key>
	<string>630921864559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appWidyaEdu</string>
	<key>PROJECT_ID</key>
	<string>edspert-advance</string>
	<key>STORAGE_BUCKET</key>
	<string>edspert-advance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630921864559:ios:cfaa171fee3fb28889349a</string>
</dict>
</plist>